.w3-third img:hover{
-webkit-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

}
.form-control{min-width:80px;}

strong{
 
  margin: 0;
  font-family: Candara, sans-serif;
  font-size: 18px;

}
